<!DOCTYPE html>
<html>
<head>
  <title>Why oh why!</title>
  <link href="{{url_for('static',filename='css/404.css')}}" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <form class="four-oh-four-form">
      <input type="text" class="404-input">
    </form>

    <div class="terminal">
      <p class="prompt">Meow. Our Semantic Project does only that. 404. Try typing 'kittens'.</p>
      <p class="prompt output new-output"></p>
    </div>
  </div>
</div>

<!-- js url section -->
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous">  
</script>
<script src="{{url_for('static',filename='js/404.js')}}" type="text/javascript"></script>
<!-- end of js url section -->
</body>
</html>

